@model SmithSwimmingSchoolApp.Models.Course

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex justify-content-center mt-5">
    <div class="card w-50">
        <div class="card-header text-center bg-warning text-white">
            Edit Course
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Coach" class="control-label"></label>
                    <select asp-for="CoachId" class="form-control" asp-items="ViewBag.CoachName">
                        <option value="">--Choose a Coach--</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="LevelCourse" class="control-label"></label>
                    <select asp-for="LevelCourse" class="form-control" asp-items="ViewBag.LevelCourse">
                        <option value="">--Choose a Level of Course--</option>
                    </select>
                    <span asp-validation-for="LevelCourse" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-primary mt-3" />
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Index" class="btn btn-dark">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
