@model SmithSwimmingSchoolApp.Models.Enrollment

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center mt-5">
    <div class="card w-50">
        <div class="card-header text-center bg-success text-white">
            Create Enrollment
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="CourseId" class="control-label"></label>
                    <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId">
                        <option value="">--Choose a Course--</option>
                    </select>
                </div>

                <div class="form-group"> 
                <input type="hidden" asp-for="SwimmerId" value="@ViewBag.SwimmerId" />                  
                </div>

                <div class="form-group">
                    <label asp-for="GroupingId" class="control-label"></label>
                    <select asp-for="GroupingId" class="form-control" asp-items="ViewBag.GroupingId">
                        <option value="">--Choose a Grouping--</option>
                    </select>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Create" class="btn btn-primary mt-3" />
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Index" class="btn btn-dark">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

